<h1>Your cart</h1>
<table>
    <tr>
        <th>Product</th>
        <th>Amount</th>
        <th>Price</th>
        <th>Total price</th>
        <th>Description</th>
        <th>Remove from cart</th>
    </tr>

    <tbody id="basket">
    </tbody>
</table>
