@model IEnumerable<CandyShop.Models.DBModels.Kit>

<h1>Kits</h1>

<div class="product-container">
    @foreach (var item in Model)
    {
        <div class="product">
            <a href="@Url.Action("Details", "Kits", new {id = item.ID})">
                <div class="photo justify-content-center align-items-center d-flex">
                    <img src="~/Images/Kits/kit_@(item.ID).jpg" alt="A beautiful image" width="140">
                </div>
            </a>
            <div class="text-center">
                @Html.DisplayFor(modelItem => item.Name)
            </div>
            <div class="text-center">
                @Html.DisplayFor(modelItem => item.CurrentPrice)
                $
            </div>
            <div class="add-to-basket">
                <button class="cart-button" onclick="setCookie('@(item.ID + 1000)')">
                    Add to basket
                </button>
            </div>
        </div>
    }
</div>
